.bg-red{
    background-color: #e72424;
}
.bg-blue{
    background-color: #247de7;
}
.bg-yellow{
    background-color: #dee724;
}
.bg-purple{
    background-color: #b224e7;
}
.bg-green{
    background-color: #62e542;
}
.bg-blue2{
    background-color: #3deff2;
}