body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;
}

.header{
    height : 30px;
    width: 100%;
    background-color: #950101;
}
.navbar{
    height: 100px;
    width: 100%;
    background-color: #FFFDD7;
}
.slider{
    height: 500px;
    width: 100%;
    /* background-color: blue; */
}
.populer{
    height: 150px;
    width: 100%;
    background-color: #fff;
}
.content{
    min-height: 700px;
    width: 100%;
}
.top-footer{
    background-color: #950101;
    height: 100px;
    width: 100%;

}
.footer{
    background-color: #FF0000;
    height: 250px;
    width: 100%;
}
.viewport{
    width: 1110px;
    margin : 0 auto;
}
.left-header{
    width: 400px;
    height: 30px;
    /* background-color: blue; */
    float: left;
}
.left-header p{
    margin: 0;
    padding-top: 7px;
    color : #fff;
}
.right-header ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.right-header ul li{
    float: left;
}
.right-header ul li a{
    color : #fff;
    text-decoration: none;
    display: inline-block;
    padding: 7px 15px;
}


.right-header{
    float: right;
    width: 200px;
    height: 30px;
    /* background-color: blue; */
}
.logo{
    height: 100px;
    width: 300px;
    /* background-color: red; */
    float: left;
    text-shadow: 2px 2px 3px #000;
}
.logo h1{
    font-size: 40px;
}
.logo h1 span{
    color : #950101
}
.menu{
    height: 100px;
    width: 810px;
    /* background-color: blue; */
    float: left;
}
.menu ul{
    margin: 0 0 0 20px;
    padding: 0;
    list-style: none;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: inline-block;
    color: #000;
    font-size: 17px;
    text-decoration: none;
    /* background-color: blue; */
    margin: 20px;
    padding: 15px;
    transition: 1s;
}
.menu ul li a:hover{
    background-color: #950101;
    color: #FFF;
}